body{

	margin:0px;

}

h1{

	color:#FFFFFF;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	padding:25px 25px;
	display:inline-block;

}

h1 small{

	color:#AAAAAA;
	font-weight:normal;
	font-size:14px;

}

header{
	
	margin:0px;
	padding:0px;
	background:#000000;

}

.floatRight{

	float:right;

}

.buttonMargin{

	margin:25px 30px;

}

.spanMargin{

	margin:0px 30px;

}

#pageList{
	
	margin:10px 17px;
	font-size:18px;
	
}

#welcome{

	color:#FFF;
	font-size:15px;

}

.marginL{

	margin:13px 23px 0px 23px;

}

#displayLegos table{

	margin:25px 44px;
	border-collapse:separate;
	display:inline-block;

}

#displayLegos table tr td{

	width:35px;
	height:35px;
	border:1px solid #EDEDED;

}

#displayLegos table tr td div{

	width:100%;
	height:100%;

}

.leftTop{

	border-radius: 90px 0 0 0;
	-moz-border-radius: 90px 0 0 0;
	-webkit-border-radius: 90px 0 0 0;

}

.rightTop{

	border-radius: 0 90px 0 0;
	-moz-border-radius: 0 90px 0 0;
	-webkit-border-radius: 0 90px 0 0;

}

.center{

	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;

}

.leftBottom{

	border-radius: 0 0 0 90px;
	-moz-border-radius: 0 0 0 90px;
	-webkit-border-radius: 0 0 0 90px;

}

.rightBottom{

	border-radius: 0 0 90px 0;
	-moz-border-radius: 0 0 90px 0;
	-webkit-border-radius: 0 0 90px 0;

}
